/* Common Css */
*{
    font-family: 'Roboto', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
    color: #fff;
}
p{
    font-size: 16px;
    color: #fff;
}
a{
    text-decoration: none;
}
img{
    width: 100%;
}
.btn{
    color: aliceblue;
    background-color: rgb(246, 8, 8);
    font-size: 18px;
    font-weight: bold;
    padding: 10px 10px;
    border-radius: 7px;
    transition: .5s;
}
.btn:hover{
    color: black;
}
main{
    display: flex;
    justify-content: center;
}
.container{
    width: 80%;
}
/* Top banner */
.top-banner{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    align-items: center;
    justify-content: center;
    background-color: rgb(11, 11, 11);
    margin-top: 20px;
    padding:15px 30px 0 20px;
    border-radius: 15px;
}
.banner-content p{
    padding: 35px 0;
}
.top-banner img{
    margin-top: 50px;
}
